html,
body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
}

:root {
	--animate-duration: 800ms;
	--animate-delay: 0.9s;
}

#root {
	height: 100vh;
}

* {
	box-sizing: border-box;
}

.joinOuterContainer {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url('https://cdn.pixabay.com/photo/2020/02/29/17/17/fantasy-4890668_1280.jpg') no-repeat;
	background-size: auto;
	background-size: cover;
}

.joinInnerContainer {
	width: 20%;
}

.joinInput {
	border-radius: 0;
	padding: 15px 20px;
	width: 100%;
}

.animate__rubberBand {
	animation: rubberBand;
	animation-duration: 2s;
	color: white;
	font-size: 2.5em;
	padding-bottom: 10px;
	text-decoration: none;
}

.button {
	color: #fff !important;
	text-transform: uppercase;
	text-decoration: none;
	background: #2979ff;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	width: 100%;
	cursor: pointer;
}

.mt-20 {
	margin-top: 20px;
}

#footer {
	color: white;
}

@media (min-width: 320px) and (max-width: 480px) {
	.joinOuterContainer {
		height: 100%;
	}

	.joinInnerContainer {
		width: 90%;
	}
}

button:focus {
	outline: 0;
}
